body {
  width:        797px;
  margin-top:   0px;
  margin-bottom: 0px;
  margin-left:  auto;
  margin-right: auto;
  font-family: “Segoe UI”, Frutiger, “Frutiger Linotype”, “Dejavu Sans”, “Helvetica Neue”, Arial, sans-serif;
  font-size:    small;
}

h1, h2 {
  letter-spacing: 0.03em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px; 
  padding-top:  40px;
  margin-left:  40px;  
}

h2 {
  margin-top:     0px;
}

div#table-content {
  display:        table;
  background-color: ghostwhite;
} 

div#table-row {
  display:        table-cell;
}

aside {
  display:          table-cell;
  color:            whitesmoke; 
}

aside h2 {
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  background-color: #424753;
}

aside ul {
  list-style-type: none;
  margin:          0px;
  padding-left:   40px;
  padding-top:    20px;
  padding-bottom: 10px;
}

aside ul li {
  padding-bottom: 10px;
  line-height:    1.3em;
}

div#cv_photo {
  width:      240px;
  height:     340px;
  margin:     0px;
  padding:    0px;
  background-color: #343945;
}

header#main-header h1 {
  margin: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
}

header#main-header h2 {
}

main {
  display:     table-cell;
  vertical-align: top;
  margin-top: 0px;
  margin-left:  240px;
}

main h2 {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  background-color: #ebebeb;
}

h2#role {
  padding-top: 3px;
  font-weight:  100;
  background-color: ghostwhite;
  color:        dimgrey;
}


main p#about-me {
  padding-left: 40px;
  line-height: 1.5em;
}

main ul {
  list-style-type: disc;
  padding-left:     40px;
}

p.work-experience-desc {
  text-decoration: none;
}

section#contacts {
  background-color: #343945;
}

section#skills {
  background-color: #2c323d;
}

section#education {
  background-color: #262b35;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  color:             whitesmoke;
  background-color: #424753;
  text-align:       center;
  font-size:        90%;
}

footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: 200px;
}

img#github-ref, img#rsschool-ref {
  padding-right: 10px;
}

div#refs {
  float: right;
}